/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.footer .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
.footer .container .text-muted {
    margin: 20px 0;
}

.main-container {
    margin-top: 70px;
}